<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="OpcNetApi.Com, Version=2.1.105.1, Culture=neutral, PublicKeyToken=9A40E993CBFACE53"/>
        <add assembly="OpcNetApi, Version=2.1.105.1, Culture=neutral, PublicKeyToken=9A40E993CBFACE53"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>